<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Anais Ruiz | Tarot
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
    body
        header
            .spc_logo
                img(src="images/logo_claro.png", alt="")
        section.first_sec.main_section
            .mask
                .base_bg
                    .cntrls_hands
                        img(src="images/hands.png", alt="")
            
        section.cartas_sec
            .container
                .spc_button_activate
                    .button_activ ¡Conoce tu Suerte!
                .spc_cards
                    .cards
                        .card
                            .cara_carta
                                img(src="images/cartas1.png", alt="")
                            .atras_carta
                                img(src="images/cartas_atras.png", alt="")
                        .card
                            .cara_carta
                                img(src="images/cartas2.png", alt="")
                            .atras_carta
                                img(src="images/cartas_atras.png", alt="")
                        .card
                            .cara_carta
                                img(src="images/cartas3.png", alt="")
                            .atras_carta
                                img(src="images/cartas_atras.png", alt="")

        section.second_sec
            .container
                .space_info_anais
                    .spc_photo
                        img(src="images/foto_anais.png", alt="")
                    .spc_texto
                        .spc_logo_txt
                            img(src="images/logo_oscuro.png", alt="")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque suscipit hic reiciendis, incidunt assumenda repudiandae ipsam? Necessitatibus suscipit ab harum vitae? Perspiciatis reprehenderit dolor porro rem, accusamus omnis sint similique excepturi, necessitatibus unde architecto totam soluta, magni et sed molestias consequatur illum debitis assumenda. Dolorem obcaecati soluta ab odio numquam vitae animi, perspiciatis repellendus reiciendis culpa expedita nostrum, adipisci neque? lorem60
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reprehenderit repudiandae nesciunt earum tempore numquam ducimus incidunt, nostrum adipisci inventore voluptas, similique quia consequuntur debitis possimus labore magni, ipsam hic!
        
        section.third_sec
            .container
                .spc_info_third_sec
                    .titulo_principal_thrd_sec
                        h2.tit_different Recibe tu prediccion en tu celular.
                    .pasos
                        p En 2 sencillos pasos
                    .spc-pasos
                        .pasooo
                            .t1_paso PASO 1
                            P Completa el formulario
                        .pasooo
                            .t1_paso PASO 2
                            P Responde las preguntas que llegaran a tu telefono
        section.fourth_sec
            .container
                .spc_img
                    img(src="images/phone.png", alt="")
        section.fiv_sec
            .container
                .space_formulario
                    .formulario
                        .icon_top_form
                            .contr_icon_logo_form
                                img(src="images/icon.png", alt="")
                        h4 Predicciones GRATUITAS con respuestas de SI o NO por SMS.
                        .cntrl_form
                            form.cntrl_grid_form
                                input.question(type="text", placeholder="¿Cual es tu pregunta para las cartas?")
                                input.name(type="text", placeholder="Tu nombre")
                                input.number(type="number", placeholder="Telefono")
                                input.mail(type="email", placeholder="Tu E-mail")
                                .cntrl_btm
                                    button(type="submit") Enviar

        section.six_sec
            .container
                .contrl_six_sec
                    h4.tit_different Testimonios
                    .spc_testimonios.owl-carousel
                        .box_testimonio
                            .box_photo
                                img(src="images/client1.png", alt="")
                            .name_testimonio.tit_different Elle F.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
                        .box_testimonio
                            .box_photo
                                img(src="images/client2.png", alt="")
                            .name_testimonio.tit_different José
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
                        .box_testimonio
                            .box_photo
                                img(src="images/client3.png", alt="")
                            .name_testimonio.tit_different Jen
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
                        .box_testimonio
                            .box_photo
                                img(src="images/client1.png", alt="")
                            .name_testimonio.tit_different Elle F.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
                        .box_testimonio
                            .box_photo
                                img(src="images/client2.png", alt="")
                            .name_testimonio.tit_different José
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
                        .box_testimonio
                            .box_photo
                                img(src="images/client3.png", alt="")
                            .name_testimonio.tit_different Jen
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe vero doloribus non veritatis est mollitia debitis facilis incidunt et placeat.
        

        footer
            .container
                .spc_footer
                    .spc_logo
                        .box_logo_footer
                            img(src="images/logo_claro.png", alt="")
                    .spc_info_footer
                        p Tlf:
                            a(href="#") 806-XXX-XXX
                        p E-mail:
                            a(href="#") correo@corre.com
        
        .sub_footer
            p Pagina desarrollada por Angelo Pascale - Todos los derechos reservados.

        
        script(src="js/jquery.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")